<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Message</title>
</head>
<body>
    <h3>New Message</h3>
    <form method="POST" action="/new/submit-message">
        <input placeholder="Name" name="name" type="text" id="name"/>
        <input placeholder="Message" name="message" type="text" id="message"/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>